.projectedit-form { 
    margin: 0 auto; 
    max-width: 400px;
}

.projectedit-project-icon { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectedit-fields * { 
    margin: 0; 
    padding: 0;
}
