
.projectedit-form * { 
    margin: 0; 
    padding: 0;
}

.projectedit-form { 
    margin: 0 auto; 
    max-width: 400px;
    width: 400px;
}

.projectedit-project-icon { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;
    margin: 0 auto;
}

.projectedit-project-image-container { 
    display: flex;
    flex-direction: column;
}


.projectedit-icon-button { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 5px 0;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 3px;
    color: white;
    height: 20px; 
    max-width: 190px;
    cursor: pointer;
    margin: 5px auto; 
}

.edit-project-field { 
    display: flex;
    flex-direction: column;
    margin: 10px 0; 
}

.edit-project-field input { 
    width: 100%;
    padding: 10px;
    padding-right: 0;
    margin: 5px 0;  
}

.input-owner { 
    padding: 10px;
    border: 1px inset rgba(118, 118, 118, 0.8); 
    border-radius: 3px;
    width: 100%; 
    padding-right: 0;
}

.edit-project-field p { 
    margin-bottom: 5px;
}

.owner-user { 
    display: flex;
    align-items: center;
}

.projectedit-submit { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 5px 0;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 3px;
    color: white;
    height: 20px; 
    max-width: 120px;
    cursor: pointer;
    margin: 15px 0; 
}

.avatar-icon-projectedit { 
    border-radius: 100%;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.owner-user p { 
    font-size: 14px;
    height: 14px;
    color: rgba(0, 0, 0, 0.6)
}