.register-container { 
    display: flex;
    flex-direction: column;
    margin: 10% auto 0 auto;
    width: 400px;
    padding: 20px 40px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7); 
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.required-field { 
    color: red; 
    margin: 0; 
}

.register-header { 
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.register-container h2 { 
    margin: 0 auto; 
}

.input-field { 
    padding-bottom: 5px;
    padding-top: 5px;  
    width: 100%;
}

.input-field input { 
    padding: 15px 0 15px 5px; 
    width: 100%;
}

.header-logo { 
    width: 45px;
    height: 45px;
    margin: 5px;
}

.register-button { 
    padding: 14px;
    width: 100%;
    background-color: #007bff;
    color: white; 
    border: none; 
    margin-top: 10px;   
    border-radius: 3px;
    cursor: pointer; 
}

.form-root { 
    border: 1px solid black;
}

.register-form { 
    margin-bottom: 10px;
}

.line { 
    width: 100%;
}

.continue-with { 
    margin-top: 10px; 
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.oauth2-google {
    width: 100%;
    height: 43px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}



.google-content { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-content p { 
    margin: 0;
}

.login-link { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    text-decoration: none;
}

.login-link:visited { 
    color: blue; 
}

.error-message { 
    width: 100%;
    border: 1px solid #872020; 
    background-color: #ff78785e;
    padding: 8px; 
    margin: 5px 0; 
}
