.team-container * { 
    margin: 0; 
    padding: 0;
}

.team-container { 
    margin: 0 auto; 
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.teampage-description { 
    color: grey; 
    margin: 15px 0; 
}

.teampage-button { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(205, 205, 205);
    margin: 10px 0; 
    padding: 5px 0;
    border-radius: 2px;
    cursor: pointer;
}

.teampage-button:hover { 
    background-color: rgb(184, 184, 184);
}

.teampage-attendance-user { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(205, 205, 205);
    margin: 10px 0; 
    padding: 5px 0;
    border-radius: 2px;
    cursor: pointer;
}

.team-left-navbar-main { 
    width: 270px;
}

.teampage-team-header { 
    display: flex;
    flex-direction: column;
}

.group-user { 
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 7px;  
}

.group-add-user { 
    margin: 5px 0; 
    display: flex;
    padding: 7px;
    align-items: center;
    cursor: pointer;
}

.group-add-user:hover { 
    background-color: rgba(0, 0, 0, 0.15);
}

.group-user:hover { 
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
}

.teampage-container hr { 
    margin: 10px 0; 
    color: rgba(0, 0, 0, 0.15); 
}

.team-main-info { 
    padding: 15px;
    margin: 10px 0; 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px; 
}

.team-activity { 
    width: 65%;
}

.team-task { 
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(206, 206, 206);   
    cursor: pointer;
} 

.team-info-header { 
    margin: 10px 0; 
}

.team-task-metainfo { 
    display: flex;
}

.team-task-metainfo p { 
    padding-right: 5px;
    color: rgb(117, 117, 117); 
}

.team-task:hover { 
    background-color: rgb(184, 184, 184);
}

.team-avatar-icon { 
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}
