.project-board-container {
    margin-top: 20px;   
}

.project-board-container * { 
    margin: 0;
    padding: 0;
}


.tasks-groups { 
    display: flex;
}

.task-group { 
    width: 170px;
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 12px;
    padding-bottom: 9px; 
    padding-top: 9px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 20px; 
}

.task-groups {

} 

.grouped-tasks-window {     
    max-width: 200px;
    width: 160px;
    border-radius: 3px;
    padding: 10px; 
    margin-right: 20px;
    margin-top: 10px; 
    padding-top: 0; 
    background-color: rgba(0, 0, 0, 0.15);
}

.group-task { 
    margin: 8px 0; 
    padding: 5px;
}

.tasks { 
    display: flex;
}

.create-task { 
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px ;
}

.create-task p { 
    padding-left: 7px;
}

.user-tasks-container { 
    display: flex;
}

.users-info { 
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.users-info p { 
    margin-left: 15px; 
}

.create-task:hover, .group-task:hover { 
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 3px;
}
