.project-board-container {
    margin-top: 20px;   
}

.project-board-container * { 
    margin: 0;
    padding: 0;
}


.tasks-groups { 
    display: flex;
}

.task-group { 
    width: 195px;
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.06);
    padding-left: 12px;
    padding-bottom: 9px; 
    padding-top: 9px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 20px; 
}

.grouped-tasks-window {     
    max-width: 200px;
    width: 190px;
    border-radius: 5px;
    padding: 10px; 
    margin-right: 20px;
    margin-top: 10px; 
    padding-top: 0; 
    background-color: rgba(0, 0, 0, 0.06);
}

.group-task { 
    margin: 8px 0; 
    cursor: pointer;
    padding: 10px 10px;
    background-color: white;
}

.project-tasks { 
    display: flex;
}

.create-task { 
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px ;
}

.create-task p { 
    padding-left: 7px;
}

.user-tasks-container { 
    display: flex;
}

.users-info { 
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.users-info p { 
    margin-left: 15px; 
}

.create-task:hover, .group-task:hover { 
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
    border-radius: 3px;
}

.group-task a { 
    text-decoration: none;
    color: black; 
}

.projectpage-navbar { 
    display: flex;
    align-items: center;
}

.add-user-to-project { 
    margin-left: 20px; 
    padding: 7px 10px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    color: white; 
    background-color: #5c82ff; 
}

.add-user-to-project:hover { 
    background-color: #4460ba;
}

.tasks { 
    display: flex;
}
