.create-project-button { 
    border: none; 
    background-color: var(--button-color);
    color: white; 
}

.project-container { 

}

.projectslist-root ul { 
    padding-left: 0;
}

.projectslist-root li { 
    list-style: none;
}

.projects-list-navbar { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}