.add-user-modal * { 
    margin: 0;
    box-sizing:border-box; 
}

.add-user-modal { 
    max-width: 450px;
}

.add-user-header {
    margin-bottom: 20px; 
}

.user-list-container { 
    display: flex;
}

.search-input-field { 
    margin: 20px 0;
    width: 100%;
    padding: 10px 10px; 
}