.create-team-cotainer { 
    display: flex;
    flex-direction: row;
}

.create-team-banner { 
    width: 50%;
    height: 400px;
}

.create-team-modal { 
    width: 680px;
}

.create-team-form { 
    width: 50%;
}

.create-team-field { 
    display: flex;
    flex-direction: column;
}

.create-team-field-input { 
    padding: 10px;
    margin-bottom: 10px;
}
