.project-card * { 
    margin: 0px;
}

.project-card { 
    width: 230px;
    display: flex;
    flex-direction: column;
    height: 170px;
    margin: 0 10px;
    border-left: 20px solid var(--ds-background-accent-purple-subtler,#C0B6F2);
    border-radius: 5px;
    box-shadow: var(--ds-shadow-raised,0 1px 1px rgba(9,30,66,0.25),0 0 1px rgba(9,30,66,0.31));
}

.project-content { 
    margin: 0 -10px;
    margin-top: 10px; 
}

.projects-container { 
    display: flex;
}

.project-header { 
    display: flex;
    text-align: left;
    align-items: center;
}

.project-name { 
    margin: 0 5px;
}

.projects-container li { 
    list-style: none;
    display: flex;
    margin: 10px 0; 
    justify-content: space-between;
}

.projects-container ul { 
    width: 80%;
}

.tasks-count { 
    display: flex;
}

.project-name { 
    margin-bottom: 5px;
}

.projects-container ul { 
    padding-left: 30px;
}

.fast-links { 
    opacity: 0.7;
    padding-left: 30px;
}

.tasks { 
    margin-top: 30px; 
}

.tasks-navbar { 
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.tasks-navbar .tasks-navbar-link { 
    margin: 5px;
    margin-bottom: -1px;
}

.tasks-navbar-choice  { 
    border: none; 
    padding: 6px;
    padding-bottom: 5px;
    font-size: 17px; 
    background-color: white;
}

.tasks-navbar-counter { 
    color: black; 
    margin-left: 8px; 
}

.task-content { 
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tasks-list { 
    list-style: none;
    margin-top: 10px; 
    padding-left: 0;
}

.left-content { 
    display: flex;
    align-items: center;
}

.tasks-list h4 { 
    margin: 0;
}

.right-content { 
    display: flex;
    align-items: center;
}

.project-icon { 
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 15px;
}

.avatar-icon { 
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.task-timestmp { 
    font-size: 16px; 
    font-weight: 500;
    margin: 10px 9px; 
}

.home-task-container a { 
    text-decoration: none;
    color: black; 
}
