.header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.header_logo h1 {
    font-size: 50px;
    font-family: Rationale;
  }
  
.header_list {
    display: flex;
    justify-content: space-around;
}
  
.header_list a {
    padding: 0 25px;
    font-size: 20px;
}
  
.header_list a:hover {
    color: red;
}