/* Search.css */

.search-root {
    position: relative;
    padding: 6px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.search-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    cursor: pointer;
    opacity: 0.5; /* Added */
}

.search-input {
    margin: 0;
    margin-left: 10px;
    outline: none;
    border: none;
}

.search-menu {
    position: absolute;
    top: 40px; /* Как то убрать */
    left: 0;
    width: inherit;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-right: 0;
    z-index: 999;
}

.search-menu h2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}

.search-menu-header { 
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.tasks-counter { 
    margin: 0 10px;
}

.found-task { 
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px; 
    cursor: pointer;
}

.found-task p { 
    margin: 0;  
}

.found-task h4 { 
    margin: 0; 
}

.found-task:hover { 
    background-color: rgba(0, 0, 0, 0.2);
}
